		#oSD{height: 457px;}
		#oSD .oSD_D1{margin-bottom: 20px;}
		#oSD .oSD_FG{height: 54px;margin-bottom: 14px;padding: 20px 0; background: #f5f5f5 ;}
		#oSD .oSD_FG_Sp{width: 230px; float: left; margin-left: 80px;}
		#oSD .oSD_YDZ{width: 1210px;height: 162px; margin: 0 auto;}
		#oSD .oSD_YDZ dl{width: 199px; float: left;}
		#oSD .oSD_YDZ dt{font-size: 16px; color: #666; font-weight: bold; padding: 6px 0;}
		#oSD .oSD_YDZ a{width: 180px; float: left; text-decoration: none; color: #666; line-height: 20px;}
		#oSD .oSD_YDZ a:hover{color: #e12228;}
		#oSD .oSD_YDZ_D1{width: 310px; height: 168px; float: right; background: url(../images/img2/20130330B_1.png) 60px -131px no-repeat;}
		#oSD .oSD_YDZ_D2{float: left; font-size: 16px; color: #666; padding: 6px 40px 15px 80px; font-weight: bold;}
		#oSD .oSD_YDZ_D3{float: left; padding: 0 40px 15px 80px;  color: #666; }
		#oSD .oSD_DD1{width: 1210px; margin: 0 auto; }
		#oSD .oSD_DD2{border-top: 1px solid #e5e5e5; padding: 20px 0 30px; text-align: center;}
		#oSD .oSD_DD2 a{margin: 0 10px;color: #666;text-decoration: none;}
		#oSD .oSD_DD2 a:hover{color: #e12228;}
		#oSD .oSD_DD2_div2{margin: 10px 0;}